In [ ]:
import pandas as pd
import csv

## Merge all scraped data in a single dataframe ,so that we can run our also on that final dataframe

In [ ]:
ap_nearby_df = pd.read_csv('no_of_apartment_nearby.csv')
cs_nearby_df = pd.read_csv('no_of_charging_nearby.csv')
food_nearby_df = pd.read_csv('no_of_food_court_nearby.csv')
gas_nearby_df = pd.read_csv('no_of_gas_nearby.csv')
malls_nearby_df = pd.read_csv('no_of_malls_nearby.csv')

In [ ]:
malls_nearby_df.head()

,Name,parking_id,latitude,longitude,Malls_nearby
0,BBMP Parking Space,ChIJ_ai2SuYVrjsRYEPrdzFxh7E,12.956836,77.581783,10
1,Shanti Nagar parking,ChIJWaLM37AVrjsRivlbh9NwR0o,12.954053,77.591901,12
2,BDA Complex Parking,ChIJ7VYXtlsUrjsRXghoSce9Cfw,12.930442,77.622537,7
3,HAL parking lot,ChIJuccM0rMWrjsRhgG0RP5Cn0c,12.984170,77.648606,7
4,Unity Building Parking Lot,ChIJfQCQsN8VrjsRTmw40xo6hAY,12.964654,77.586791,14

In [ ]:
first_merge = ap_nearby_df.merge(cs_nearby_df[['Name','charging_station_nearby','parking_id']])
second_merge = first_merge.merge(food_nearby_df[['Name','Food_court_nearby','parking_id']])
third_merge = second_merge.merge(gas_nearby_df[['Name','Gas_station_nearby','parking_id']])
final_merge = third_merge.merge(malls_nearby_df[['Name','Malls_nearby','parking_id']])

In [ ]:
final_merge.tail()

,Name,parking_id,latitude,longitude,Apartments_nearby,charging_station_nearby,Food_court_nearby,Gas_station_nearby,Malls_nearby
55,Parking Lot,ChIJbeqOUMEVrjsRm9YXc820njg,12.949516,77.589941,7,25,6,6,10
56,Rezervd Smart Parking,ChIJLcMrT2EXrjsR8p_y13XhLIg,12.997325,77.600769,6,12,5,3,11
57,Car Parking,ChIJ5cqvSGgWrjsRDhn6jJxwacA,12.988043,77.594139,3,17,6,3,11
58,Baiyappanahalli Parking Backside,ChIJPRA7RfkXrjsRKvPCWRxh02o,12.991535,77.651593,6,4,3,1,7
59,Open Parking,ChIJ9_M_dI8TrjsRluHBMwXf7Dg,12.955663,77.724940,9,0,2,5,11

In [ ]:
final_merge.to_csv('final.csv')